<!DOCTYPE html>
<html>
<head>
    <title>Penstock Control</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='testingmain.js') }}" defer></script>
</head>
<body>
    <!-- Dropdown to select the target node -->
    <label for="nodeSelect">Target Node:</label>
    <select id="nodeSelect">
        <option value="0">Node 0</option>
        <option value="2">Node 2</option>
    </select>

    <button id="cmdBtn">Send Command</button>

</body>
</html>