<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <h1>Here is the video stream. </h1>
    <iframe src="http://192.168.1.1:8889/cam" width="100%" height="500px"></iframe>
    <h1>Button:</h1>
    <!--<button onclick="data(1)">Go Forward 1</button>-->
    <h3 id="data-display-0" data-label="A Position"></h3>
    <h3 id="data-display-1" data-label="B Position"></h3>
    <h3 id="data-display-2" data-label="C Position"></h3>
    <h3 id="data-display-3" data-label="D Position"></h3>
</body>
</html>